{% block title %}Freelance Digital Designer and Front-end Developer | Michael Cattell{% endblock %}
{% block content %} 
{% include "header_newnew" %} 

<section class="home_opening">
  <div class="wrapper">

    <div class="section group positionrelative">
      <div class="col span_1_of_2 aboutwidth100 hideunder677 paddingright30"> 
        <h2 class="homepage_subheading">Freelancer, contractor, website designer working across Yorkshire, Lancashire and across the world!</h2>

        <a href="contact"><button class="btn positionbottom_btn submit pull-left">Let's work together</button></a>
      </div>
      <div class="col span_1_of_2 aboutwidth100">
        <h1 class="mobileh1 showmobile wow fadeInLeft animate_steps1">I <i>design</i> and <i>develop</i> fresh, unique and lively designs for web and mobile</h1>
        <p class="font22">My name is Michael Cattell, and I’m a digital designer and front-end developer with a love for the web, interaction design, and build. I like designing and building for all types of businesses, whilst drinking really good coffee.</p>
        <p>I work from my sunny (or mostly rainy) home studio based in South Yorkshire, which I share with my <a class="dribbble" href="http://glamlifeofahousewife.com/" title="my wife's space on the web - glamlifeofahousewife.com" target="_blank">wife</a>, and a very fluffy Pomeranian called <a class="ralph" href="https://instagram.com/fancyralph_/" title="My little cute pomeranian's space online - Ralph" target="_blank">Ralph</a>. I work for all small to large businesses, specialising in designing clean interfaces, as well as delivering a responsive web site to work on all devices.</p>
        <button class="btn submit pull-left buttonshowerunder677">Let's work together</button>
      </div>
    </div>
  </div>
</section>

<section class="home_webthumbs">
<div class="wrapper">

<div class="section group childrenvision_headerbg positionrelative wow fadeIn animate_steps1 animated">
  <div class="col span_12_of_12 margintbottom">
    <h3 class="subthree">SERVICES</h3>
    <div class="col span_6_of_12 firstfix aboutwidth100 paddingright20">
      <p class="home_webthumbsmaintext">— Design</p>
      <p>
        Great companies always have memorable and consistent identities to connect with their audiences. I find out what makes your company' users tick, then I create clean, usable and great user experiences.</p>
    </div>

    <div class="col span_6_of_12 aboutwidth100">
      <p class="home_webthumbsmaintext">— Web Build</p>
      <p>
        For me, an online presence is key to a company's success. I create a brand online using the latest technological standards, including responsive design and a mobile-first philosophy. Ensuring your company will thrive online and be a success.</p>
    </div>

    <div class="col span_8_of_12 firstfix aboutwidth100 margintop">
      <p class="home_webthumbsmaintext">— Full Support</p>
      <p>
        Our friendship won’t end either. I provide you with constant support throughout the entire process, including when your site has gone live (or you just can’t figure out what to have for dinner tonight).</p>
    </div>

    <div class="height1"></div>

    <div class="col span_7_of_12 margintop width100 firstfix">
      <div class="paddingleft40">
        <a href="remingtonmancave" title="click here to see remington mancave - a website to showcase the virtually indestructible hair clipper ">
          <img class="showunder677 wow fadeIn" src="{{ "remingtonmancave_700.jpg" | asset_url }}" alt="remington mancave - a website to showcase the virtually indestructible hair clipper " class="img-responsive centeritems" /> <img class="showmobile wow fadeIn" src="{{ "remingtonmancave_mob.jpg" | asset_url }}" alt="remington mancave - a website to showcase the virtually indestructible hair clipper " class="img-responsive centeritems" />
        </a>
        <div class="height30"></div>

        <a href="russellhobbs" title="click here to see russell hobbs - a launch to help russell hobbs to showcase how much customers love their products">
          <img class="showunder677 wow fadeIn" src="{{ "russellhobbs_700.jpg" | asset_url }}" alt="russell hobbs - a launch to help russell hobbs to showcase how much customers love their products" class="img-responsive centeritems" class="img-responsive centeritems" /> <img class="showmobile wow fadeIn" src="{{ "russellhobbs_mob.jpg" | asset_url }}" alt="russell hobbs - a launch to help russell hobbs to showcase how much customers love their products" class="img-responsive centeritems" />
        </a>
        <div class="height30"></div>
        
        <a href="remingtonyourstyle" title="click here to see remington yourstyle - a seasonal launch to promote the new products for autumn / winter">
          <img class="showunder677 wow fadeIn" src="{{ "remingtonyourstyle_700.jpg" | asset_url }}" alt="remington yourstyle - a seasonal launch to promote the new products for autumn / winter" class="img-responsive centeritems" /> <img class="showmobile wow fadeIn" src="{{ "remingtonyourstyle_mob.jpg" | asset_url }}" alt="remington yourstyle - a seasonal launch to promote the new products for autumn / winter" class="img-responsive centeritems" />
        </a>
        <div class="height20"></div>

        <div class="text-center showunder677 seeallworkholder677 wow fadeIn">
          <a href="portfolio" title="see all of my work here">
            <p>See all my <u>work</u></p>
          </a>
        </div>
        <div class="text-center showmobile seeallworkholder677 wow fadeIn">
          <a href="portfolio" title="see all of my work here">
            <p>See all my <u>work</u></p>
          </a>
        </div>
      </div>
    </div>
    
    <div class="section group seeallworkholder hideunder677 wow fadeInLeft">
      <div class="text-center"> 
        <a href="portfolio" title="see all of my work here">
          <p>See all my <span>work</span></p>
        </a>
      </div>
    </div>

  </div>
</div>
</section>

<div class="height20"></div>
{% endblock %}