{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | Work{% endblock %}
{% block content %}
{% include "header_subpage" %}
<section class="about portfolio generic_opening">
  <div class="wrapper">
    <div class="textcenter">
      <div class="maxwidth800 centeritems textcenter">
        <h1 class="textcenter">Portfolio</h1>
        <p>I design and develop websites and apps for companies of all shapes and sizes.<br>
          My aim is to create an identity that will make your web presence unique and to excite your users to interact with your brand.</p>
        <p><a class="dribbble" href="https://dribbble.com/mikeycattell" title="Why not see my latest shots on Dribbble">Dribbble</a> and <a class="behance" href="https://www.behance.net/mikeycattell" title="click here to see my portfolio on Behance">Behance</a> may provide a more current, up-to-date representation of my work.<br>
          Below are a few of the brands I’ve worked with.</p>
      </div>
    </div>
    <div class="section group">
      <div class="content">
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="russellhobbs"> <img class="img-responsive centeritems" src="{{ "russellhobbs_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a href="russellhobbs">Russell Hobbs</a></h2>
            </header>
            <section class="page-content">
              <p>I had the pleasure of working with the very nice people at Russell Hobbs (Spectrum Brands) to update their company branding for the "I Love Home" range, and build a new responsive marketing website, with a strong social media theme.</p>
            </section>
            <section class="extra-content">
              <p>Interaction Design<br>Front-end Development</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a class="blackunderline" href="http://uk.russellhobbs.com/ilovehome/">Visit the website site</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="russellhobbs">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="remingtonmancave"> <img class="img-responsive centeritems" src="{{ "remingtonmancave_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a href="remingtonmancave">Remington ManCave</a></h2>
            </header>
            <section class="page-content">
              <p>I worked with Remington, for their male part of the Autumn / Winter launch to create their branding, and web site. The website is themed around the visual metaphor of “Man Cave”.</p>
            </section>
            <section class="extra-content">
              <p>Interaction Design<br>Front-end Development</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a class="blackunderline" href="http://en.remington-europe.com/get-ready/mancave/">Visit the website site</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="remingtonmancave">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="remingtonyourstyle"> <img class="img-responsive centeritems" src="{{ "remingtonyourstyle_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a href="remingtonyourstyle">Remington Your Style</a></h2>
            </header>
            <section class="page-content">
              <p>Alongside <a href="">Man Cave</a>, I also worked with Remington on their female launch for the Autumn&nbsp;/&nbsp;Winter launch.</p>
            </section>
            <section class="extra-content">
              <p>Interaction Design<br>Front-end Development</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a class="blackunderline" href="http://uk.remington-europe.com/get-ready/yourstyle/">Visit the website site</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="remingtonyourstyle">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="grono"> <img class="img-responsive centeritems" src="{{ "grono_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a href="grono">Grono Artificial Grass</a></h2>
            </header>
            <section class="page-content">
              <p>Build of a custom Wordpress theme for a new seasonal website to promote British Airways and Lime Management give-away for a free trip to Saint Lucia.</p>
            </section>
            <section class="extra-content">
              <p>Lead Design<br>Interaction Design</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a href="grono">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="craghoppers"> <img class="img-responsive centeritems" src="{{ "craghoppers_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a href="craghoppers">Craghoppers</a></h2>
            </header>
            <section class="page-content">
              <p>Working with the Manchester based Craghoppers, I helped launch a website which uses strong photography to get across a very powerful and popular brand.</p>
            </section>
            <section class="extra-content">
              <p>Interaction Design<br>Front-end Development<br>Magento Build</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a class="blackunderline" href="http://www.craghoppers.com/">Visit the website site</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="craghoppers">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="hawkshead"> <img class="img-responsive centeritems" src="{{ "hawkshead_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a class="noborder" href="hawkshead">Hawkshead</a></h2>
            </header>
            <section class="page-content">
              <p>A new Spring / Summer launch was required for Hawkshead to showcase their new catelog of products. A fresh look and most importantly a new responsive website was required.</p>
            </section>
            <section class="extra-content">
              <p>Interaction Design<br>Front-end Development<br>Magento Build</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a class="blackunderline" href="http://hawkshead.com/">Visit the website site</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="hawkshead">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="edwardsandwalker"> <img class="img-responsive centeritems" src="{{ "edwardsandwalker_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a href="edwardsandwalker">Edwards and Walker</a></h2>
            </header>
            <section class="page-content">
              <p>Edwards and Walker approached me to help refresh their branding and website. A fun project with a style of its own, helping to get across the feeling of an approachable and up-market Opticians.</p>
            </section>
            <section class="extra-content">
              <p>Branding<br>Interaction Design<br>Front-end Development<br>Email Build</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a class="blackunderline" href="http://www.edwardsandwalker.com/">Visit the website site</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="edwardsandwalker">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="britishairways"> <img class="img-responsive centeritems" src="{{ "britishairways_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a href="britishairways">British Airways - Lime Management</a></h2>
            </header>
            <section class="page-content">
              <p>Build of a custom Wordpress theme for a new seasonal website to promote British Airways and Lime Management give-away for a free trip to Saint Lucia.</p>
              <p>Also, with build of supporting emailers (e-shots) upon sign up and updates to notify user of updates to prizes.</p>
            </section>
            <section class="extra-content">
              <p>Front-end Development<br>Email Build<br>Wordpress Build</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a class="blackunderline" href="http://prizesofthecaribbean.com/">Visit the website site</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="britishairways">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
        <article class="wow fadeInUp">
          <figure class="image"> <a class="noborder" href="premierfoodsafety"> <img class="img-responsive centeritems" src="{{ "premierfoodsafety_portfolio.jpg" | asset_url }}" alt="" /></a> </figure>
          <div class="height10"></div>
          <section class="text extra">
            <header>
              <h2 class="title"><a href="premierfoodsafety">Premier Food Safety</a></h2>
            </header>
            <section class="page-content">
              <p>This redesign is the result of years of intensive research and work, culminating in a new feel, identity and sophisticated brand direction - covering print, online and e-learning platforms. A complete head to tail re-launch, all whilst living in California!</p>
            </section>
            <section class="extra-content">
              <p>Interaction Design<br>
                Web Development<br>
                Front-end Management</p>
            </section>
            <div class="height1"></div>
            <footer>
              <p><a class="blackunderline" href="http://www.premierfoodsafety.com/">Visit the website site</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="premierfoodsafety">Read more</a></p>
            </footer>
          </section>
        </article>
        <div class="height1"></div>
      </div>
      
      <!--
			<div class="col span_7_of_12">
				<a class="noborder wow fadeIn img-responsive centeritems" href="russellhobbs"><img class="hidemobile" src="{{ "russellhobbs.jpg" | asset_url }}" alt="" />
				<img class="showmobile img-responsive centeritems" src="{{ "russellhobbs_mob.jpg" | asset_url }}" alt="" /></a>
				<div class="portfolio_1">
					<h2 class="portfolio_title"><a href="russellhobbs">Russell Hobbs</a></h2>
					<p>I had the pleasure of working with the very nice people at Russell Hobbs (Spectrum Brands) to update their company branding for the "I Love Home" range, and build a new responsive marketing website, with a strong social media theme.</p>
					<p><a class="blackunderline" href="http://en.russellhobbs.com/ilovehome/" title="Visit the russell hobbs website">Visit the website site</a> | <a href="russellhobbs">Read more</a></p>
				</div>
			</div>

			<div class="col span_5_of_12">
				<a class="noborder" href="remingtonmancave"><img class="hidemobile img-responsive centeritems wow fadeIn" src="{{ "remingtonmancave.jpg" | asset_url }}" alt="" />
				<img class="showmobile img-responsive centeritems" src="{{ "remingtonmancave_mob.jpg" | asset_url }}" alt="" class="" /></a>
				<div class="portfolio_2">
					<h2 class="portfolio_title"><a href="remingtonmancave">Remington ManCave</a></h2>
					<p>I worked with Remington, for their male part of the Autumn / Winter launch to create their branding, and web site. The website is themed around the visual metaphor of “Man Cave”.</p>
					<p><a class="blackunderline" href="http://en.remington-europe.com/get-ready/mancave/">Visit the website site</a> | <a href="remingtonmancave">Read more</a></p>
				</div>
			</div>

			<div class="height30"></div>

			<div class="col span_5_of_12 firstfix">
				<a class="showmobile noborder" href="remingtonyourstyle"><img src="{{ "remingtonyourstyle_mob.jpg" | asset_url }}" alt="" class="img-responsive centeritems" /></a>
				<div class="portfolio_3">
					<h2 class="portfolio_title"><a href="remingtonyourstyle">Remington Your Style</a></h2>
					<p>Alongside <a href="">Man Cave</a>, I also worked with Remington on their female launch for the Autumn / Winter launch.</p>
					<p><a href="remingtonyourstyle">Read more</a></p>
				</div>
				<a class="noborder hidemobile img-responsive centeritems wow fadeIn" href="remingtonyourstyle "><img src="{{ "remingtonyourstyle.jpg" | asset_url }}" alt="" class="" /></a>
			</div>

			<div class="col span_7_of_12">
				<a class="noborder" href="craghoppers"><img class="hidemobile wow fadeIn img-responsive centeritems" src="{{ "craghoppers.jpg" | asset_url }}" alt="" />
				<img class="showmobile img-responsive centeritems" src="{{ "craghoppers_mob.jpg" | asset_url }}" alt="" /></a>
				<div class="portfolio_4">
					<h2 class="portfolio_title"><a href="craghoppers">Craghoppers</a></h2>
					<p>Working with Manchester based Craghoppers, I helped launch a website which uses strong photography to get across a very powerful and popular brand.</p>
					<p><a class="blackunderline" href="http://www.craghoppers.com/">Visit the website site</a> | <a href="craghoppers">Read more</a></p>
				</div>
			</div>

			<div class="height30"></div>

			<div class="col span_5_of_12 firstfix">
				<a class="showmobile noborder" href="hawkshead"><img src="{{ "hawkshead.jpg" | asset_url }}" alt="" class="img-responsive centeritems wow fadeIn" /></a>
				<div class="portfolio_5">
					<h2 class="portfolio_title"><a href="hawkshead">Hawkshead</a></h2>
					<p>A new Spring / Summer launch was required for Hawkshead to showcase their new catelog of products. A fresh look and most importantly a new responsive website was required.</p>
					<p><a class="blackunderline" href="http://www.hawkshead.com/">Visit the website site</a> | <a href="hawkshead">Read more</a></p>
				</div>
			</div>

			<div class="col span_7_of_12">
				<a class="noborder hidemobile" class="noborder" href="hawkshead"><img src="{{ "hawkshead.jpg" | asset_url }}" alt="" class="img-responsive centeritems wow fadeIn" /></a>
			</div>

			<div class="height30"></div>

			<div class="col span_7_of_12 firstfix">
				<a class="noborder wow fadeIn" href="edwardsandwalker"><img class="hidemobile wow fadeIn img-responsive centeritems" src="{{ "edwardsandwalker.jpg" | asset_url }}" alt="" />
				<img class="showmobile img-responsive centeritems" src="{{ "edwardsandwalker_mob.jpg" | asset_url }}" alt="" />
				</a>
			</div>


			<div class="col span_5_of_12">
				<div class="portfolio_6">
					<h2 class="portfolio_title"><a href="edwardsandwalker">Edwards and Walker</a></h2>
					<p>Edwards and Walker approached me to help refresh their branding and website. A fun project with a style of its own, helping to get across the feeling of an approachable and up-market Opticians.</p>
					<p><a class="blackunderline" href="http://www.edwardsandwalker.com/">Visit the website site</a> | <a href="edwardsandwalker">Read more</a></p>
				</div>
				<a class="noborder" href="premierfoodsafety"><img class="hidemobile img-responsive centeritems wow fadeIn" src="{{ "premierfoodsafety.jpg" | asset_url }}" alt="" class="" />
				<img class="showmobile img-responsive centeritems" src="{{ "premierfoodsafety_mob.jpg" | asset_url }}" alt="" />
				</a>
				<div class="portfolio_7">
					<h2 class="portfolio_title"><a href="premierfoodsafety">Premier Food Safety</a></h2>
					<p>This redesign is the result of years of intensive research and work, culminating in a new feel, identity and sophisticated brand direction - covering print, online and e-learning platforms. A complete head to tail re-launch, all whilst living in California!</p>
					<p><a class="blackunderline" href="https://www.premierfoodsafety.com/">Visit the website site</a> | <a href="premierfoodsafety">Read more</a></p>
				</div>

			</div>
					--> 
    </div>
  </div>
  <div class="col span_12_of_12 firstfix dribbbleholder">
    <div class="wrapper">
      <div class="col span_12_of_12 firstfix">
        <p class="dribbble_maintitle">Latest<br>
          <span class="dribbble_subtitle">Dribbble Shots</span></p>
      </div>
      <div class="col span_12_of_12 firstfix">
        <ul id="shotsByPlayerId" class="shotList">
        </ul>
        <p class="dribbble_viewprofile"><a href="https://dribbble.com/mikeycattell">View my profile</a></p>
      </div>
    </div>
  </div>
</section>
<script>
	// API Ref: http://api.dribbble/players/:id/shots
	$.jribbble.getShotsByPlayerId('mikeycattell', function (playerShots) {
		var html = [];
		$.each(playerShots.shots, function (i, shot) {
			html.push('<li><h3>' + shot.title + '</h3>');
			html.push('<h4>by ' + shot.player.name + '</h4><a class="noborder" href="' + shot.url + '">');
			html.push('<img src="' + shot.image_url + '" ');
			html.push('alt="' + shot.title + '"></a></li>');
		});

		$('#shotsByPlayerId').html(html.join(''));
	}, {page: 1, per_page: 3});

</script> 
{% endblock %} 