{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | Premier Food Safety{% endblock %}
{% block content %} 
{% include "header_subpage" %} 

<section class="generic_opening">
	<div class="wrapper">
	
		<div class="section group">

			<div class="col span_6_of_12 aboutwidth100 no-margin">
				<h1 class="portfolio_sub_header">Premier Food Safety</h1>
				<p class="portfolio_jobduties">Branding &#8226; Interaction Design &#8226; Front-end Development &#8226; Email Build</p>	
				<p class="portfolio_weblink"><a href="http://www.premierfoodsafety.com/" title="click here to view www.premierfoodsafety.com">www.premierfoodsafety.com</a></p>	
			</div>

			<div class="col span_6_of_12">	
				<p class="portfolio_jobdesc">Premier Food Safety are based in South California, but cater for a is an iPad app for kids, packed with colour, shape, letter &amp; memory games. Kids can work their way through different levels in each game category, learning at their own pace and covering a range of development skills with a variety of animals to keep them company. </p>
				<p class="portfolio_jobdesc"><strong>To find out how I can help you, feel free to <a href="contact" title="To find out how I can help you, feel free to email me here">email me</a> or call me on 07463966691</strong></p>				

			</div>

			<div class="height30"></div>

			<div class="col span_12_of_12 textcenter">
				<img src="{{ "premierfoodsafety_1.png" | asset_url }}" alt="" class="img-responsive" />			
				<img src="{{ "premierfoodsafety_2.jpg" | asset_url }}" alt="" class="img-responsive" />
			</div>

			<div class="height30"></div>

			<div class="col span_4_of_12 firstfix">		
				<img src="{{ "premierfoodsafety_3.jpg" | asset_url }}" alt="" class="img-responsive centeritems" />
			</div>

			<div class="col span_8_of_12">	
				<div class="portfolio_weblink_midpage">
					<p class="weblink_midpage_title">PREMIER FOOD SAFETY</p>
					<p class="weblink_midpage_link"><a href="http://www.premierfoodsafety.com/" title="click here to view www.premierfoodsafety.com" style="font-weight: normal;">Visit the website ></a></p>
				</div>						

				<img src="{{ "premierfoodsafety_4.jpg" | asset_url }}" alt="" class="img-responsive centeritems" />
				<div class="height30"></div>
				<div class="height30"></div>
				<img src="{{ "premierfoodsafety_5.jpg" | asset_url }}" alt="" class="img-responsive centeritems" />				
			</div>			
			
			<div class="height30"></div>
			
			<div class="portfolio_proj col span_12_of_12">
				<div class="col span_12_of_12 firstfix">
					<p class="text-center"><a href="portfolio" title="click here to return back to the projects page">Want to see more projects?</a> OR <a href="services" title="what can i do for you? click here to find out">want to read what I can do for you</a></p></a>
				</div>					
			</div>	
			
				
		</div>

	</div>

</section>





{% endblock %}