{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | Remington Mancave{% endblock %}
{% block content %} 
{% include "header_subpage" %} 

<section class="generic_opening">
	<div class="wrapper">
	
		<div class="section group">

			<div class="col span_6_of_12 aboutwidth100">
				
					<h1 class="portfolio_sub_header">Remington ManCave</h1>
					<p class="portfolio_jobduties">&#8226; Interaction Design &#8226; Front-end Development</p>
					<p class="portfolio_weblink"><a href="http://en.remington-europe.com/get-ready/mancave/" title="click here to view the Mancave website">remington-europe.com/get-ready/mancave</a></p>					
				
			</div>

			<div class="col span_6_of_12 aboutwidth100">
				<div class="portfolio_maincopy">
					<p class="portfolio_jobdesc">Remington are well known for their male shavers, infact I own one or two - so when Remington approached me to build their new seasonal website to promote their new shaver - the “Virtually Indestructible Clipper”, I jumped at the chance.<br>
					The brief was simple - make something that is eye catching, workable on all devices and just plain fun. Was the goal reached? I think it went above and beyond - reaching 50+ countries and gaining a huge social media backing.</p>
					<p class="portfolio_jobdesc"><strong>To find out how I can help you, feel free to <a href="contact" title="To find out how I can help you, feel free to email me here">email me</a> or call me on 07463966691</strong></p>					
				</div>
			</div>

			<div class="height30"></div>

			<div class="col span_12_of_12 textcenter">
				<img src="{{ "remingtonmancave_1.png" | asset_url }}" alt="" class="img-responsive" />			
				<img src="{{ "remingtonmancave_2.png" | asset_url }}" alt="" class="img-responsive" />
			</div>

			<div class="height30"></div>

			<div class="col span_4_of_12 firstfix">
				<img src="{{ "remingtonmancave_3.png" | asset_url }}" alt="" class="img-responsive centeritems" />
			</div>

			<div class="col span_8_of_12">
				<div class="portfolio_weblink_midpage">
					<p class="weblink_midpage_title">REMINGTON</h2>
					<p class="weblink_midpage_subtitle">ManCave</p>
					<p class="weblink_midpage_link"><a href="http://en.remington-europe.com/get-ready/mancave/" title="click here to view the Mancave website">Visit the website ></a></p>
				</div>				
				<img src="{{ "remingtonmancave_4.png" | asset_url }}" alt="" class="img-responsive centeritems" />
				<div class="height30"></div>
				<img src="{{ "remingtonmancave_4b.png" | asset_url }}" alt="" class="img-responsive centeritems" />
			</div>			

			
			<div class="height30"></div>

			<div class="portfolio_proj col span_12_of_12">
				<div class="col span_12_of_12 firstfix">
					<p class="text-center"><a href="portfolio" title="click here to return back to the projects page">Want to see more projects?</a> OR <a href="services" title="what can i do for you? click here to find out">want to read what I can do for you</a></p></a>
				</div>					
			</div>	
						
		</div>

	</div>

</section>





{% endblock %}