{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | Russell Hobbs - I Love Home{% endblock %}
{% block content %} 
{% include "header_subpage" %} 

<section class="generic_opening">
	<div class="wrapper">
	
		<div class="section group">

			<div class="col span_5_of_12 width100">
					<h1 class="portfolio_sub_header">Russell Hobbs</h1>
					<p class="portfolio_jobduties">Interaction Design &#8226; Front-end Development</p>
					<p class="portfolio_weblink"><a href="http://uk.russellhobbs.com/ilovehome/" title="click here to view http://uk.russellhobbs.com/ilovehome/">uk.russellhobbs.com/ilovehome</a></p>	
			</div>

			<div class="col span_7_of_12 width100">
				<p class="portfolio_jobdesc">Russell Hobbs are a house hold name in the UK, specialising and leading the way for "in the house" products, ranging from kettles to blenders to the "must-need" coffee machines.<br>
				They approached me midway through 2014, with an idea to produce a website which uses and follows Russell Hobbs' already strong and established branding, and also has a strong embassis on being interactive.<br>
				This resulted in a website which showcases different parts of home-life, from breakfast to healthy living, the user could upload their favourite things (breakfast is a popular section) and it would be showcased on the website. This resulted in a far greater user to website interaction - leading to promotion of the brand.</p>
				<p class="portfolio_jobdesc"><strong>To find out how I can help you, feel free to <a href="contact" title="To find out how I can help you, feel free to email me here">email me</a> or call me on 07463966691</strong></p>
			</div>			

			<div class="height30"></div>

			<div class="col span_12_of_12 textcenter">
				<img src="{{ "russellhobbs_1.png" | asset_url }}" alt="" class="img-responsive" />			
				<img src="{{ "russellhobbs_2.png" | asset_url }}" alt="" class="img-responsive" />
			</div>

			<div class="height30"></div>

			<div class="col span_7_of_12 textcenter firstfix">
				<img src="{{ "russellhobbs_3.png" | asset_url }}" alt="" class="img-responsive centeritems" />
			</div>

			<div class="col span_5_of_12 width100">
				<div class="portfolio_weblink_midpage">
					<p class="weblink_midpage_title">RUSSELL HOBBS</p>
					<p class="weblink_midpage_subtitle">ilovehome</p>
					<p class="weblink_midpage_link"><a href="http://uk.russellhobbs.com/ilovehome/" title="click here to view http://uk.russellhobbs.com/ilovehome/">Visit the website ></a></p>
				</div>				
				<img src="{{ "russellhobbs_4.png" | asset_url }}" alt="" class="img-responsive centeritems" />
			</div>			

			<div class="height30"></div>

			<div class="col span_12_of_12 textcenter">
				<img src="{{ "russellhobbs_5.png" | asset_url }}" alt="" class="img-responsive" />
			</div>
			
			<div class="height30"></div>
			

			<div class="portfolio_proj col span_12_of_12">
				<div class="col span_12_of_12 firstfix">
					<p class="text-center"><a href="portfolio" title="click here to return back to the projects page">Want to see more projects?</a> OR <a href="services" title="what can i do for you? click here to find out">want to read what I can do for you</a></p></a>
				</div>					
			</div>	
		</div>

	</div>

</section>





{% endblock %}